h1= title
p Welcome to Plate
p register  
	a(href="/register") register
p login  
	a(href="/login") login 
p order  
	a(href="/order") order
p users  
	a(href="/users") users
p logout  
	a(href="/logout") logout