h2 PLATE
a(href='/') home
|  | 
a(href='/order') order
|  | 
a(href='/history') order history
|  | 
a(href='/logout') logout
|  | admin controls -> | 

a(href='/users') users
|  | 
a(href='/menu') menu
|  | 
a(href='/menuitem') add menu item
|  | 
|inventory
